.report-list-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 9.5em;
  bottom: 0px;
  right: 8px;
  margin-top: .5em;
  width: 375px;
  max-width: 355px;
  z-index: 1000;
  overflow: hidden;
  filter: none;
  transition-property: opacity, translate;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);

  &:has(+ .report-box-wrapper > .report-box.show) {
    filter: brightness(60%);
    transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);

    >.report-list-scrollview {
      pointer-events: none;
    }
  }
}

.report-list-wrapper.hidden {
  translate: 95%;
}

.report-list-scrollview {
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 16px;
  pointer-events: all;
  width: 570px;
  max-width: 317px;
  width: 100%;

  /* animation */
  transition-property: opacity, translate;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);

  &.show {
    opacity: 1;
    translate: 0;
    transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  &:hover {
    padding-right: 0px;
  }

  &:hover>.report-list-scroller {
    overflow-y: auto;
    padding-right: 0px;
  }

  >.report-list-scroller {
    min-height: 0;
    overflow-y: hidden;

    &::-webkit-scrollbar-track {
      background-color: hsl(var(--background-variant-hsl));
    }

    &::-webkit-scrollbar-button {
      background-color: transparent;
      height: 4px;
    }
  }
}

.report-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.report-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: auto;
  border-radius: 11px;
  background-color: hsl(var(--background-variant-hsl));
  color: #fff;
  font-size: 16px;
  margin: 1px;
  outline: transparent;
  box-shadow: transparent;
  opacity: .85;
  cursor: pointer;

  transition: background-color .1s ease-in-out,
    opacity .1s ease-in-out,
    outline .1s ease-in-out,
    box-shadow .1s ease-in-out;

  >.intensity-box {
    height: 44px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
  }

  >.report-list-item-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    >.report-list-item-location {
      font-weight: 500;
    }

    >.report-list-item-time {
      font-size: 75%;
      font-variant-numeric: tabular-nums;
    }
  }

  >.report-list-item-magnitude {
    padding-right: 12px;
    font-size: 18px;
    font-variant-numeric: tabular-nums;

    &::before {
      content: "M";
      margin-right: 4px;
      font-size: 75%;
    }
  }

  &.numbered {
    >.report-list-item-magnitude {
      color: hsl(51deg 100% 60%);
    }
  }

  &:hover {
    opacity: 1;
    outline: 1px solid hsl(0deg 0% 15.64%);
    box-shadow: 0 0 6px 0 hsl(0deg 0% 22.24%);
  }

  &:active {
    background-color: hsl(var(--surface-variant-hsl));
  }
}

.report-list-item>.report-arrow-down {
  position: relative;
  right: 5px;
}

.report-intensity {
  width: 44px;
  height: auto;
  border-radius: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-location {
  font-size: 14px;
  font-weight: 600;
  margin-left: .5em;
}

.report-int-item-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.my_location {
  border: 1px solid #a1d8f5;
  border-radius: 15px;
  width: 68px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  background: #a1d8f51c;
  box-shadow: 1px 1px 1px #a1d8f51c, 0 3px 6px #a1d8f51c;
}

.my_location>.usr_location {
  font-size: 16px;
  color: #a1d8f5;
}


.my_location>.location {
  font-size: 13px;
  margin-left: 0.1em;
  cursor: auto;
  color: #a1d8f5;
}



#report-intensity-grouped {
  gap: 2px !important;
}

.report-int-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 0.3em;
}

.report-list-item-wrapper.active .report-int-items {
  max-height: 1000px;
}

.report-int-item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: auto;
  border-radius: 11px;
  background-color: hsl(var(--background-variant-hsl));
  color: #fff;
  font-size: 16px;
  margin: 1px;
  outline: transparent;
  box-shadow: transparent;
  opacity: .85;
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out, outline .1s ease-in-out, box-shadow .1s ease-in-out;
  width: 90%;
  margin-bottom: 0.2em;
}

.report-int-item .town {
  font-size: 14px;
  font-weight: 600;
  margin-left: .3em;
}

#report-back-btn {
  border-radius: 30px;
  height: 25px;
  width: 80px;
  background: #fff;
}

#report-back-btn span {
  color: #000;
}

#report-back-btn .button-label {
  font-weight: bold;
}


.report-list-item-int {
  width: 65px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.report-list-item-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.report-list-item-location {
  font-size: 21px;
}

.report-list-item-time {
  font-size: 13px;
}

.report-list-item-index {
  margin-bottom: .3em;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background-color: #464646;
  color: #fff;
  font-size: 16px;
  outline: transparent;
  cursor: pointer;
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out, outline .1s ease-in-out, box-shadow .1s ease-in-out;
}

.report-list-item-mag {
  font-size: 23px;
  font-weight: bold;
  color: #ffcc00;
}

.report-list-item-info-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.report-list-item-title {
  font-size: 17px;
  font-weight: bold;
}

.report-list-item-int-title {
  font-size: 13px;
  font-weight: bold;
  margin-top: .3em;
}

.report-list-item-int-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-list-item-index.first {
  padding: 10px;
  align-items: flex-start;

  .report-list-item-location {
    font-size: 28px;
  }

  .report-list-item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .report-list-item-int {
    height: 80px;
    width: 80px;
    font-size: 3em;
  }

  .report-list-item-info {
    height: auto;
  }

  .report-list-item-mag {
    position: relative;
    display: flex;
    gap: 4px;
    height: 28px;
    isolation: isolate;
    font-size: 28px;
    flex: 1 1 0%;

    &::before {
      background-color: rgb(255, 31, 0);
      content: "";
      display: block;
      width: 5px;
      border-radius: 30px;
      height: 31px;
    }

    &:after {
      position: absolute;
      content: attr(data-background-text);
      line-height: 28px;
      font-size: 30px;
      font-weight: 700;
      opacity: 0.15;
      z-index: -1;
      padding: 0px 6px;
      color: #fff;
    }
  }

  .report-list-item-magnitude {
    &::before {
      margin-right: 4px;
      content: "ùñ¨";
      font-size: 23px;
    }
  }

  .km {
    font-size: 24px;
    line-height: 36px;

    &::after {
      margin-left: 4px;
      content: "km";
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      line-height: 28px;
      font-weight: 400;
    }
  }

  .report-list-item-km {
    color: #fff;
    position: relative;
    gap: 4px;
    height: 28px;
    width: 100%;
    isolation: isolate;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    &:before {
      position: absolute;
      content: attr(data-background-text);
      line-height: 28px;
      font-size: 30px;
      font-weight: 700;
      opacity: 0.15;
      z-index: -1;
      color: #fff;
      margin-right: 4px;
    }

    &::after {
      background-color: rgb(255, 31, 0);
      content: "";
      display: block;
      width: 4px;
      height: 28px;
      border-radius: 30px;
    }
  }

  .report-list-item-mag span {
    font-size: 30px;
  }

  .report-list-item-mag-depth {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-top: .3em;
    justify-content: space-around;
  }
}

.report-list-btn-wrapper {
  height: auto;
  width: 40px;
  display: flex;
}

.report-list-btn {
  border: 1px solid #00000000;
  height: 20px;
  width: 20px;
  background: #464646;
  border-radius: 5px;
  position: relative;
  top: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.report-list-btn span {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: center;
}

.hidden .report-list-btn span {
  justify-content: unset;
  align-items: unset;
  width: 1em;
}

.hidden .report-list-btn span:first-child {
  width: 4em;
  display: flex;
}

.hidden .report-list-btn-wrapper {
  width: 100px !important;
  padding-right: .5em;
}

.report-list-item-mag-depth {
  margin-right: 0.5em;
}



.report-list-item-magnitude.normal {
  color: #fff;
}